<h2><%= title("New Entry".t) %></h2>

<% unless error_messages_for(:entry).blank? && error_messages_for(:content).blank? -%>
<div class="errors">
  <%= error_messages_for :entry %>
  <%= error_messages_for :content %>
</div>
<% end -%>

<% form_for(:entry, 
            :url => polymorphic_path([current_container.to_ppath, @content.class.new].compact), 
            :html => { :multipart => true }) do |f| -%>

  <%= render :partial => "entries/form", :object => f %>

  <%= submit_tag "Create".t %>

<% end -%>
