<h2><%= "Login to %s" / @trust_root %></h2>

<%= "You are about log in to %s" / @trust_root %>

<% form_tag url_for(:action => "create") do %>
  <%= radio_button_tag "decision", "once" %> <%= "Yes, only this time".t %><br />
  <%= radio_button_tag "decision", "trust" %> <%= "Yes, remember from now on".t %><br />
  <%= radio_button_tag "decision", "cancel" %> <%= "No, cancel".t %><br />

  <% unless @required.blank? -%>
  <h3><%= "Required information requested by %s" / @trust_root %></h3>
  <%= sreg_fields @required %>
  <% end -%>

  <% unless @optional.blank? -%>
  <h3><%= "Optional information requested by %s" / @trust_root %></h3>
  <%= sreg_fields @optional %>
  <% end -%>

  <%= submit_tag "Send".t %>
<% end %>
