<p>
  <%= label categorizable_name, :category_ids, t('category.other') %><br />
  <div id="categories_list_<%= dom_id domain %>">
  <% if domain.domain_categories.blank? %>
    <%= t('category.domain.without_categories', :domain => sanitize(domain.name)) %>
  <% else %>
    <% domain.domain_categories.each do |c| %>
      <%= check_box_tag("#{ categorizable_name }[category_ids][]", c.id, categorizable.categories.include?(c)) + sanitize(c.name) %><br />
    <% end %>
  <% end %>
  </div>

  <%= link_to_remote(t('category.new'), 
                     :url => polymorphic_path([ domain, Category.new ]),
                     :condition => "(category_name = window.prompt('#{ t('category.name') }')) != '' && category_name != null",
                     :with => "'categorizable_name=#{ categorizable_name }&category[name]=' + category_name",
                     :html => { :id => "new_category", 
                     :class => "action add" } ) %>
</p>
