<div id="performances_form_<%= dom_id stage %>" class="form_entry">
  <div class="form_label"><%= "Permission".t("Permissions",99) %></div>

  <div class="form_data performances_form">
  <% if roles.empty? %>
    <%= "The are any role avaible. Permissions can't be set. #{ link_to "Go to manage roles".t, roles_path}"  %>
  <% else %>
    <p id="performances_list_<%= dom_id stage %>">
      <%= hidden_field_tag "performances_length", @space.stage_performances.length %>
    </p>

    <%= link_to_function("New Permission".t, "addNewPerformance('#{dom_id stage}')", { :id => "new_performance",  :class => "action add" } ) %>
    <div id="empty_performance" class="none">
      <%= link_to_function("Delete Permission".t, "$('div' + this.identify().split('delete')[1]).remove(); return false;", {:id => "delete_performance",  :class => "action delete right" } ) %>
      <%= "Select Role".t %>
      <%= select(nil, "role_id", roles.collect {|r| [ r.name, r.id ] }, { :include_blank => true }) %>
      <%= "Select User".t %>
      <%= select(nil, "agent_id", User.all.collect {|u| [ u.name, u.id ] }, { :include_blank => true }) %>
      <%= hidden_field_tag "[agent_type]", "User", { :id => "_agent_type" } %>

    </div>

  <% end %>
  </div>
</div>