  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>

  <h2><%= "Stage type".t %></h2>
  <p>
  <%= form.select(:stage_type, 
                  CMS::ActiveRecord::Stage.symbols.map{ |st| [ st.to_s.classify ] * 2 }, 
                  { :selected => @role.stage_type }) %>
  </p>

  <h2><%= "Permission".t("Permissions", 99) %></h2>
  <p>
  <%= collection_select :role, 
                        :permission_ids, 
                        Permission.find(:all, :order => 'objective ASC'), 
                        :id, 
                        :title, 
                        { :selected => @role.permission_ids }, 
                        { :multiple => true, :name => 'role[permission_ids][]' } -%>
  </p>

