  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :create_entries %><br />
    <%= form.check_box :create_entries %>
  </p>
  <p>
    <%= form.label :read_entries %><br />
    <%= form.check_box :read_entries %>
  </p>
  <p>
    <%= form.label :update_entries %><br />
    <%= form.check_box :update_entries %>
  </p>
  <p>
    <%= form.label :delete_entries %><br />
    <%= form.check_box :delete_entries %>
  </p>
  <p>
    <%= form.label :create_performances %><br />
    <%= form.check_box :create_performances %>
  </p>
  <p>
    <%= form.label :read_performances %><br />
    <%= form.check_box :read_performances %>
  </p>
  <p>
    <%= form.label :update_performances %><br />
    <%= form.check_box :update_performances %>
  </p>
  <p>
    <%= form.label :delete_performances %><br />
    <%= form.check_box :delete_performances %>
  </p>

