<p>
  <b>Name:</b>
  <%=h @role.name %>
</p>

<h2><%= "Permissions".t %></h2>

<% if @role.permissions.any? -%>
  <% @role.permissions.each do |permission| -%>
    <%= permission.title %><br />
  <% end -%>
<% else -%>
<%= "Role %s hasn't any permission" / @role.name %>
<% end -%>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
