<% content_for :contents_menu do -%>
  <% if current_container -%>
    <%= new_content_button %>
    <%= contents_menu_separator %>
  <% end -%>
  <%= contents_menu %>
  <%= contents_menu_separator %>
  <%= content_info %>
<% end -%>

<h2><%= title %></h2>
<div class="paginator"><%= will_paginate(@entries, {:prev_label => "«", :next_label => "»"}) %></div>
<div id="interaction_view">

  <div id="list_view">
  <% for entry in @entries %>
    <div id="entry_<%= entry.id %>" class="entry <%= entry.content.class.to_s.tableize %>">
      <%= link_to_remote "<img src=\"#{icon_image(entry)}\"/>#{sanitize(entry.title)} #{params[:kk]}", :url => details_entry_path(entry), :complete => "$('move_logo').src='#{ image_path 'move_static.png', :plugin => 'cmsplugin' }';changeActiveContent('#{entry.id}');", :loading => "$('move_logo').src='#{ image_path('move_dynamic.gif', :plugin => 'cmsplugin') }';" %>
      <%= draggable_element("entry_"+entry.id.to_s, :revert => true) %>
    </div>
  <% end %>
  </div>
</div>

