<% content_for :contents_menu do -%>
  <%= new_content_button %>
  <%= contents_menu_separator %>
  <%= content_info(@entry) %>
<% end -%>

<h2><%= title %></h2>

<% unless @entry.description.blank? %>
<p>
  <b>Description:</b>
  <%=sanitize @entry.description %>
</p>
<% end %>

<div id="entry-content">
<%= render :partial => "#{ @content.class.to_s.tableize }/entry", :object => @entry %>
</div>
