<h2><%= t('category.editing') %></h2>

<%= error_messages_for :category %>

<% form_for([ current_categories_domain, @category ]) do |f| %>
  <%= render :partial => 'form', :object => f %>
  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>

<%= link_to t(:show), @category %> |
<%= link_to t(:index), polymorphic_path([@container, Category.new]) %>
