<h2><%= 'Editing category'.t %></h2>

<%= error_messages_for :category %>

<% form_for(@category) do |f| %>
  <%= render :partial => 'form', :object => f %>
  <p>
    <%= f.submit "Update".t %>
  </p>
<% end %>

<%= link_to 'Show'.t, @category %> |
<%= link_to 'Back'.t, polymorphic_path([@container.to_ppath, Category.new]) %>
