<h1><%= t(:"site.editing") %></h1>

<%= error_messages_for :site %>

<% form_for(:site, :url => site_path, :html => { :method => :put, :multipart => true }) do |f| %>
  <p>
    <b><%= t(:name) %></b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b><%= t(:description) %></b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b><%= t(:"logotype.one") %></b><br />
    <%= file_field_tag 'logotype[media]' %>
    <%= preview(@site.logotype) %>
  </p>

  <p>
    <b><%= t(:"site.domain") %></b><br />
    <%= f.text_field :domain %>
  </p>

  <p>
    <b><%= t(:"site.ssl") %></b><br />
    <%= f.check_box :ssl %>
  </p>

  <p>
    <b><%= t(:email) %></b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <b><%= t(:locale) %></b><br />
    <%= f.text_field :locale %>
  </p>

  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>
