<h1><%= t('site.config') %></h1>

  <p>
    <b><%= t('site.name') %></b>: 
    <%= sanitize site.name %>
  </p>

  <p>
    <b><%= t('site.description') %></b>: 
    <%= sanitize site.description %>
  </p>

  <p>
    <b><%= t('site.logo') %></b>: 
    <%= image_tag(icon_image(site)) %>
  </p>

  <p>
    <b><%= t('site.domain') %></b>: 
    <%= sanitize site.domain %>
  </p>

  <p>
    <b><%= t('site.ssl') %></b>: 
    <%= site.ssl? %>
  </p>

  <p>
    <b><%= t('site.email') %></b>: 
    <%= sanitize site.email %>
  </p>

  <%= link_to t(:edit), edit_site_path %>
