<h1><%= t(:"site.config") %></h1>

  <p>
    <b><%= t(:name) %></b>: 
    <%= sanitize current_site.name %>
  </p>

  <p>
    <b><%= t(:description) %></b>: 
    <%= sanitize current_site.description %>
  </p>

  <p>
    <b><%= t(:"logotype.one") %></b>: 
    <%= image_tag(icon_image(current_site)) %>
  </p>

  <p>
    <b><%= t(:"site.domain") %></b>: 
    <%= sanitize current_site.domain %>
  </p>

  <p>
    <b><%= t(:"site.ssl") %></b>: 
    <%= current_site.ssl? %>
  </p>

  <p>
    <b><%= t(:email) %></b>: 
    <%= sanitize current_site.email %>
  </p>

  <p>
    <b><%= t(:"site.locale") %></b>: 
    <%= sanitize current_site.locale %>
  </p>

  <%= link_to t(:edit), edit_site_path %>
