<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="<%= @description %>" />
  <meta name="keywords" content="red,social" />
  <meta name="author" content="atd, nogates / Design: Gnoyxs - http://www.gnoxys.net/" />
<% if @openid_server_agent -%>
  <meta http-equiv="X-XRDS-Location" content="<%= formatted_polymorphic_url([ @openid_server_agent, :xrds ]) -%>" />
  <link rel="openid.server" href="<%= openid_server_url -%>" />
  <link rel="openid2.provider" href="<%= openid_server_url -%>" />
<% end -%>

<%= stylesheet_link_tag "move", :media => 'all', :plugin => 'cmsplugin' %>

<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "move", :plugin => 'cmsplugin' %>
<%= javascript_include_tag "fckeditor/fckeditor" if @uses_fckeditor %>
<%= calendar_date_select_includes %>

<% if @collection_path -%>
<link href="<%= @collection_path + '.atom' %>" rel="alternate" title="<%= @title %>" type="application/atom+xml" />
<% end -%>

<% if false # @space %>
<link rel="icon" href="<%= @space.logo.public_filename('icon') %>" type="image/x-icon">
<% end -%>

<% if logged_in? -%>
<link rel="service" type="application/atomsvc+xml" href="<%= url_for :controller => :users, :action => :show, :id => current_user.id, :format => "atomsvc", :only_path => false %>" />
<% end -%>
</head>

<body onload="onLoadPage();">
  <!-- open wrap -->
  <div id="wrap">
    <!-- logo -->
    <div id="meta">
      <div id="meta_top">
        <span class="site_title"><%= site.name %></span>
      </div>
      <div id="meta_center">
        <%= 
          #image_tag 'move_static.png', :plugin => 'cmsplugin', :alt => "[move static logo]", :id => "move_logo", :onclick => "this.src='#{ image_path('move_dynamic.gif', :plugin => 'cmsplugin') }';"
         %>
      </div>
      <div id="meta_bottom">
         <% if authenticated? -%>
           <%= link_to(t(:logout), logout_path, {:id => "logout"} ) %>
           <%= link_to(t(:"site.config"), site_path, {:id => "site_config"}) %>
         <% else -%>
           <%= link_to(t(:login), login_path) %>
           <%= link_to(t(:join), new_user_path) %>
         <% end -%>
      </div>
    </div>

    <!-- containers -->
    <%= menu_box(:containers) { |item| "#{ link_to(image_tag(icon_image(item), :alt => item.name + ' logo'), item) }<span class=\"box_unit_title\">#{ link_to item.name, item }</span>" } %>
    <!-- agents -->
    <%= menu_box(:agents) { |item| "#{ link_to(image_tag(icon_image(item), :alt => item.name + ' logo'), item) }<span class=\"box_unit_title\">#{ link_to item.name, item }</span>" } %>

    <!-- open menu content div -->
    <div id="contents">
       <!-- top menu content decoration, close it -->
      <div id="contents_top"></div>
      <!-- menu content center -->
      <div id="contents_center">
        <!-- menu content inside wrapper -->
        <div id="contents_center_inside">
	  <%= yield :contents_menu %>
        <!-- close menu content inside -->
        </div>
      <!-- cloose menu content center -->
      </div>
      <!-- bottom menu content decoration, close it -->
      <div id="contents_bottom"></div>
    <!-- close menu content -->
    </div>
    <!-- open the interaction_screen -->
    <div id="interaction_screen">
       <!-- top interaction screen decoration, close it -->
      <div id="interaction_screen_top"></div>
        <!-- interaction screen center -->
        <div id="interaction_screen_center">
          <!-- interaction screen wrapper -->
          <div id="interaction_screen_center_inside">
          <%= notification_area %>
          <%= yield %>
          <!-- close interaction screen wrapper -->
          </div>
        <!-- cloose interaction screen center -->
        </div>
        <!-- bottom interaction screen decoration, close it -->
        <div id="interaction_screen_bottom"></div>
    <!-- cloose interaction screen -->
    </div>
    <!-- open footer -->
     <div id="footer">
       <%= t(:layout_footnote, :site => link_to(site.name, root_path), :plugin => link_to('CMSplugin','http://rubyforge.org/projects/cmsplugin/'), :designer => link_to('Gnoxys','http://www.gnoxys.net/')) %>
     <!-- cloose footer -->
    </div>
  <!-- close wrap -->
  </div>
</body>
</html>
