<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= 'Log in to %s' / current_site.name %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="<%= current_site.description %>" />
<meta name="author" content="atd, nogates / Design: Gnoyxs - http://www.gnoxys.net/" />
<%= stylesheet_link_tag 'cms/move', :media => 'all' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'cms/move' %>
</head>
<body>
  <%= notification_area %>
  <div id="login_wrap">
    <div id="by_link">
      <a href="#" onclick="javascript:loginSelector('login_by_user');"><%= "Login".t %></a>
      <a href="#" onclick="javascript:loginSelector('login_by_openid');">OpenID</a>
      <a href="#" onclick="javascript:loginSelector('new');"><%= "I'm new".t %></a>
      <a href="#" onclick="javascript:loginSelector('help');"><%= "Help".t %></a>
    </div>
    <div id="by_box">
      <%= yield %>
    </div>
    <div id="info">
       © 2008 <%= link_to 'Gnoxys', 'http://www.gnoxys.net/' %>
    </div>
  </div>
</body>
</html>
